<h1>Songs</h1>
<hr>
<h5>Here is a list of trending songs</h5>
<hr>
<br>
<%= link_to 'Create Song', new_artist_song_path(@artist)%>
<ul>
 <% @artist.songs.each do |song| %>
 <li><%= link_to song.name, artist_song_path(@artist, song)%></li>
   <% end %>
</ul>