

<br>
<br>
<br> 
<div class="ui raised very padded text container segment">
<h1 class="ui header">Song: </h1>
<hr>
<%# <p>Find me in app/views/billboards/show.html.erb</p> %>
<div class="ui card">
  <div class="content">
    <p class="header">
      <%= @song.name %>
    </p>
  </div>
  <div class="extra content">
   <div class="ui buttons">
    <%= link_to 'Edit', edit_artist_song_path(@artist, @song), class: "ui button" %> |
    <%= link_to 'Back', artists_path, class: "ui button"%>
    <%= link_to 'Delete', artist_song_path(@artist, @song), method: :delete, class: "ui red button" %> 
    </div >
  </div>
</div>
</div>