<br>
<br>
<br>
<br>
<br>
<div class="ui one column centered grid">
  <div class="column">
  <div class="ui raised very padded text container segment container-seg">
  <h1 class="ui header centered">Billboards</h1>
  <hr>
  <h4 class="ui header">Here is a list of trending boards:</h4>
  <hr>
  <br>
  <div class="ui animated large button" tabindex="0">
    <div><%= link_to 'Create Billboard', new_billboard_path, class: "visible content link-to"%></div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
  </div>
    <div class="ui relaxed divided list">
      <% @billboard.each do |billboard| %>
      <div class="item">
        <i class="large play middle aligned red icon"></i>
        <div class="content">
          <a><%= link_to billboard.name, billboard_path(billboard.id), class: "ui header"%></a>
        </div>
      </div>
        <%end%>
    </div>
  </div>
  </div>
</div>




