
<div class="ui top fixed menu inverted nav-menu">
  <div class="item">
  <i class="red small music icon"></i>
  </div>
<%= link_to "Home", root_path, class: "active item"%>
  <%= link_to "Billboards", billboards_path, class: "item"%>
  <%= link_to "Artists", artists_path, class: "item"%>
</div> 